# Backend
## 仮想環境
venv/
## Pythonキャッシュファイル
__pycache__/
*.pyc
*.pyo
## DB関連
alembic.ini

# Frontend
## ビルドファイル
build/
## 依存関係
node_modules/

# Environments
env/
*.env
# config.py

# IDE
## Visual Studio Code
.vscode/
# PyCharm
.idea/

# Others
## MacOSのシステムファイル
*.DS_Store
